.container-fluid{
    background-color: rgb(182, 182, 88);
    margin:0;
    height: 60px;
   
}
h5{
    color: white !important;
    margin-left: 20px;
}
#navbarSupportedContent{
   padding-left: 30em;
   font-size: 20px;
}
.nav-item-1{
    margin-right: 25px;
    color:red;
}
.nav-link{
    color: white !important;
}
.nav-item-2{
    margin-right: 25px;
}
.nav-item-3{
    margin-right: 25px;
}
.nav-item-5{
    margin-left: 20px;
}
.btn{
    background-color: rgb(182, 182, 88) !important; 
    color: white;
    border: 1px solid rgb(182, 182, 88) !important ;
   width: 130px;
   height: 35px;
   margin-right: 30px;
   margin-top: 10px;
}
.data{
    padding-top: 100px;
    padding-right: 150px;
    float: right;
}
.content{
    padding-top: 180px;
    padding-left: 180px;
    text-align: left;
    font-weight: bold;
}
h1{
    font-weight: bolder;
}
i{
    font-weight: lighter;
    color: grey
}
.btn2{
    margin-top: 25px;
    border: 1px solid red;
    background-color: red;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: white;
}
.section2{
  margin-top: 150px;
  text-align: center;

}
.container-pic{
    padding-top: 100px;
    padding-right: 150px;
    float: right;
    
}
.contain{
    padding-top: 130px;
    margin-left: 200px;
    font-size: 3rem;
    font-weight: bolder;
}
.container-pic2{
    padding-top: 200px;
    margin-left: 200px;
    float: left;
}
.contain2{
    text-align: center;
    padding-top: 250px;
    margin-right: 80px;
    font-size: 3rem;
    font-weight: bold;
    color:rgb(182, 182, 88);
}
.container-pic3{
    padding-top: 250px;
    padding-right: 200px;
    float: right;
    
}
.contain3{
    padding-top: 300px;
    margin-left: 200px;
    font-size: 4rem;
    font-weight: bolder;
}
footer{
    margin-top: 200px;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(182, 182, 88);
    
}

#footerEle{
    color: white;
    padding-top: 30px;
    text-align: center;
}
img{
    border-radius: 10%;

}
.btn-danger{
    /* background-color: red !important; */
    background-color: rgb(182, 182, 88);
}
.slide-from-bottom {
    opacity: 0;
    transform: translateY(100%);
    animation: slideFromBottom 1s ease-out forwards;
}

@keyframes slideFromBottom {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}